<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>

    <!--fonts-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"/>

    <link type="text/css" rel="stylesheet" href="/css/main.css"/>

    <link rel="icon" href="/photos/favicon.jpg" type="image/jpg" sizes="64x64"/>

    <script type="text/javascript" src="../js/main2.js"></script>

    <style>
        @import url("https://fonts.googleapis.com/css?family=Varela+Round");
        @import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");

        body {
            background-color: #eaf1f3;
            font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }
    </style>


    <title>Stoic Polemic Club</title>
</head>
<body>
<div class="bg"></div>

<!------------------------------------------Header--------------------------------------->
<div class="dark text-dark bg-dark" style="position: sticky; top:0; z-index: 10;">

    <table style="width:100%">
        <tr>
            <td style="font-size: 1em; width:30%; padding-left: 10px; color: white">

                <nav class="navbar">
                    <table>
                        <tr class="text-uppercase">
                            <th>
                                <a href="/admin/files" style="padding-right: 12px;">All Files</a>
                            </th>
                            <th style="color: #307df6"> |</th>
                            <th>
                                <a href="/admin/schedule" style="padding-right: 12px; padding-left: 12px">Schedule</a>
                            </th>
                            <th style="color: #307df6"> |</th>
                            <th>
                                <a href="/admin/password" style="padding-left: 12px">Change Password</a>
                            </th>
                        </tr>
                    </table>
                </nav>

            </td>

            <td style="width:40%; font-weight: bold; padding-top: 10px; text-align: center">
                <h5>
                    <a href="/admin/files" style="color: white">Stoic Polemic Club [Admin Mode]</a>
                </h5>
            </td>

            <td style="text-align:right; width:30%;">

                <div style="float:right;">
                    <table>
                        <tr>
                            <form method="post" th:action=@{/admin/files/findByWord}>
                                <td><a href="/logout" class="btn btn-outline-info mr-2 btn-sm">LogOut</a></td>

                                <td><input class="form-control-sm rounded" type="text" placeholder="Search" name="word"
                                           required></td>
                                <td>
                                    <button class="btn btn-outline-success mr-sm-1 btn-sm" type="submit">Search</button>
                                </td>
                            </form>
                        </tr>
                    </table>
                </div>

            </td>
        </tr>
    </table>

</div>

<!------------------------------------------File Upload--------------------------------------->
<div class="container mt-2">
    <div class="form-group">
        <div class="p-3 mb-2 bg-dark text-white" style="border-radius: 10px;">

            <form id="uploadFiles" name="uploadFiles" method="post" th:action=@{/admin/files/uploadFiles}
                  enctype="multipart/form-data">
                <div>
                    <div class="input-group input-group-sm rounded">
                        <input type="file" name="files" multiple required class="form-control" id="check"
                               onchange="fileValidation()"/>
                        <div class="ml-4 col-xs-2 input-group-sm">
                            <input class="form-control rounded" id="name" type="text" placeholder="User Name"
                                   name="personName">
                        </div>
                    </div>

                    <div class="mt-2 mb-2 input-group-sm">
                        <input class="form-control rounded" id="description" type="text" placeholder="Description"
                               name="description">
                    </div>

                    <input type="submit" value="Upload" class="btn btn-primary btn-sm">
                    <span style="float:right;margin-top: 5px; padding-left: 20px">
                         <a th:if="${!flag}" th:href="@{/admin/files/archiveFiles}" class="btn btn-light btn-sm ">Show Archive</a>
                         <a th:if="${flag}" th:href="@{/admin/files}" class="btn btn-warning btn-sm ">Show Current</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

<!------------------------------------------Tablica Plików--------------------------------------->
<div class="container">
    <span class="h5" th:if="${text!=null}" th:text="${text}"></span>
    <span class="h5">
       <a th:if="${show!=null}" th:href="@{/admin/files}">Show All Files</a>
     </span>
    <div>
        <table class="table table-bordered table-striped table-dark">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">
                    <div class="d-flex justify-content-center">
                        User
                    </div>
                </th>
                <th scope="col">
                    <div class="d-flex justify-content-center">
                        Link
                    </div>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody th:each="doc:${docs}">

            <tr scope="row">
                <td th:text="${doc.docName}"></td>
                <td th:text="${doc.description}"></td>
                <td>
                    <div class="d-flex justify-content-center" th:text="${doc.personName}"></div>
                </td>
                <td>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-success btn-sm" th:href="@{'/files/downloadFile/'+${doc.id}}">Download</a>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-center">
                        <div>
                            <!--                            <a th:href="@{/admin/files/delete(docId=${doc.id})}"-->
                            <!--                               class="btn btn-danger btn-sm">Update</a>-->
                            <a th:href="@{/admin/files/showFormForUpdate(docId=${doc.id})}"
                               class="btn btn-info btn-sm">Update</a>

                        </div>
                        <span style="padding-left: 5px"></span>
                        <div>
                            <a class="btn btn-warning btn-sm" th:if="${doc.archive}"
                               th:href="@{/admin/files/archive(docId=${doc.id}, archive='archive')}">
<!--                               onclick="if(!(confirm('Are you sure you want to unarchive this file?')))return false">-->
                            Archive</a>
                            <a class="btn btn-light btn-sm" th:if="${!doc.archive}"
                               th:href="@{/admin/files/archive(docId=${doc.id})}">
<!--                               onclick="if(!(confirm('Are you sure you want to archive this file?')))return false">-->
                            Archive</a>
                        </div>

                        <span style="padding-left: 5px"></span>
                        <div>
                            <a th:if="${doc.archive}" th:href="@{/admin/files/delete(docId=${doc.id}, archive='archive')}"
                               onclick="if(!(confirm('Are you sure you want to delete this file?')))return false"
                               class="btn btn-danger btn-sm">Delete</a>
                            <a  th:if="${!doc.archive}" th:href="@{/admin/files/delete(docId=${doc.id})}"
                               onclick="if(!(confirm('Are you sure you want to delete this file?')))return false"
                               class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>

    </div>
</div>

<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<script type="text/javascript" src="js/main2.js"/>
</body>
</html>