<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">

    <link rel="icon" href="photos/favicon.jpg" type="image/jpg" sizes="64x64">

    <script type="text/javascript" src="js/main2.js"></script>
    <title>Stoic Club</title>
</head>
<body>
<div class="bg"></div>


<div class="dark text-dark bg-dark" style="position: sticky; top:0; z-index: 10;">

    <table style="width:100%">
        <tr>
            <td style="font-size: 1em; width:30%; padding-left: 10px; color: white"
                th:text="${title}+' ('+${filesCount+')'}"></td>

            <td style="width:40%; font-weight: bold; padding-top: 10px; text-align: center"><h5><a href="/"
                                                                                                   style="color: white">Stoic
                Club</a></h5>
            </td>

            <td style="text-align:right; width:30%;">

                <div style="float:right;">
                    <table>
                        <tr>
                            <form>
                                <td><a href="logout" class="btn btn-outline-info mr-2 btn-sm">LogOut</a></td>

                                <td><input class="form-control-sm rounded" type="text" placeholder="Search" name="word"
                                           required></td>
                                <td>
                                    <button class="btn btn-outline-success mr-sm-1 btn-sm" type="submit">Search</button>
                                </td>
                            </form>
                        </tr>
                    </table>
                </div>

            </td>
        </tr>
    </table>

</div>


<div class="container mt-2">
    <div class="form-group">
        <div class="p-3 mb-2 bg-dark text-white" style="border-radius: 10px;">

            <form id="uploadFiles" name="uploadFiles" method="post" th:action=@{/files/uploadFiles}
                  enctype="multipart/form-data">
                <div>
                    <div class="input-group input-group-sm rounded">
                        <input type="file" name="files" multiple required class="form-control" id="check"
                               onchange="fileValidation()"/>
                        <div class="ml-4 col-xs-2 input-group-sm">
                            <input class="form-control rounded" id="name" type="text" placeholder="User Name" name="personName">
                        </div>
                    </div>

                    <div class="mt-2 mb-2 input-group-sm">
                        <input class="form-control rounded" id="description" type="text" placeholder="Description" name="description">
                    </div>

                    <input type="submit" value="Upload" class="btn btn-primary btn-sm">
                    <span style="float:right;margin-top: 5px; padding-left: 20px">
                         <a th:if="${!flag}" th:href="@{/files(page='archive')}" class="btn btn-light btn-sm ">Show Archive</a>
                         <a th:if="${flag}" th:href="@{/files}" class="btn btn-warning btn-sm ">Show Current</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <table class="table table-bordered table-striped table-dark">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">
                    <div class="d-flex justify-content-center">
                        User
                    </div>
                </th>
                <th scope="col">
                    <div class="d-flex justify-content-center">
                        Link
                    </div>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody th:each="doc:${docs}">

            <tr scope="row">
                <td th:text="${doc.docName}"></td>
                <td th:text="${doc.description}"></td>
                <td>
                    <div class="d-flex justify-content-center" th:text="${doc.personName}"></div>
                </td>
                <td>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-success btn-sm" th:href="@{'/files/downloadFile/'+${doc.id}}">Download</a>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-center">
                        <div>
                            <a class="btn btn-warning btn-sm" th:if="${doc.archive}"
                               th:href="@{files/archive(docId=${doc.id}, archive='archive')}"
                               onclick="if(!(confirm('Are you sure you want to archive this record? You should be logged as ADMIN')))return false"
                            >Archive</a>
                            <a class="btn btn-light btn-sm" th:if="${!doc.archive}"
                               th:href="@{files/archive(docId=${doc.id})}"
                               onclick="if(!(confirm('Are you sure you want to archive this record? You should be logged as ADMIN')))return false"
                            >Archive</a>
                        </div>

                        <span style="padding-left: 5px"></span>
                        <div>
                            <a th:href="@{files/delete(docId=${doc.id})}"
                               onclick="if(!(confirm('Are you sure you want to delete this record? You should be logged as ADMIN')))return false"
                               class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>

    </div>
</div>

<script type="text/javascript" src="js/main2.js"/>
</body>
</html>